extends ./templates/layout
block content
	section.mainContent.row
		.large-12.columns
			h1 Find out More about your Community
	section.row
		|<iframe width="940" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://andrewcorliss.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=9907749c632942c5ad203113d145a49d&amp;gcsextent=-104.9633,39.7182,-104.8686,39.759&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true&amp;displaydetails=true&amp;displaysearch=true&amp;searchextent=true&amp;displaybasemaps=true"></iframe>
	section.row.special
		|<iframe width="940" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://andrewcorliss.maps.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=be4e5e2a789d41d8854f594a4b7485e8&amp;gcsextent=-105.0415,39.7268,-104.9468,39.7676&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true&amp;displaydetails=true&amp;displaysearch=true&amp;searchextent=true&amp;displaybasemaps=true"></iframe>