head
	title=pageTitle
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="viewport",content="initial-scale=1, maximum-scale=1,user-scalable=no")
	link(rel='stylesheet', href='site/_assets/css/main.css')
	link(rel='stylesheet', href='http://js.arcgis.com/3.9/js/esri/css/esri.css')
	script(type='text/javascript', src='site/_assets/js/core/modernizer/2.8.2/modernizr.js')
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
	script(type='text/javascript', src='site/_assets/js/core/fastclick/1.0.2/fastclick.js')
	script(type='text/javascript', src='http://js.arcgis.com/3.9/')