doctype html
html
	include header
	body
		header
			nav: ul
				li.small-3.columns: a(href='/') Home
				li.small-3.columns: a(href='/esri') Neighbors
				li.small-3.columns: a(href='/signIn') Profile
				li.small-3.columns: a(href='#') Search
		block content
		include footer
