//This is our variables file where we will declare everything 
// to re-use later throughout the files.

/*
	Colors
*/

$red: #ff4040;
$blue: #1240AB;
$orange: #FF8100;
$green: #25d500;
$white: #FFFFFF;
$off_black: #333333;
$grey: #999999;
$light_grey: #cccccc;
$black: #000000;

/*
	Shadows
*/
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 0px;
$default-box-shadow-color: #333333;
$default-box-shadow-blur: 5px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

$regular_shadow: 1px 0px 1px $off_black;
$long_shadow: 3px 0px 5px $black;
$inner_shadow: 3px 0px 3px $off_black inset;
$box_shadow: inset 0 6px 7px -7px #aaa;

/*
	Borders
*/

$regular_border: 1px solid $off_black;
